body{
    margin: 0;

}
.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
    
}
.nested_container{
     display: grid;
    grid-gap: 10px;
}
.item{
    background-color: aquamarine;
    padding-top: 5px;
    border-radius: 5px;

}